---
import { siteConfig } from '../config.ts';

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
  ogImageWidth?: string;
  ogImageHeight?: string;
  twitterCard?: string;
  twitterTitle?: string;
  twitterDescription?: string;
  twitterImage?: string;
  lang?: string;
}

const {
  title = siteConfig.site.title,
  description = siteConfig.site.description,
  keywords = siteConfig.site.keywords,
  ogTitle = siteConfig.site.ogTitle,
  ogDescription = siteConfig.site.ogDescription,
  ogImage = '/screenshot.jpeg',
  ogImageWidth = '1200',
  ogImageHeight = '630',
  twitterCard = siteConfig.site.twitterCard,
  twitterTitle = siteConfig.site.twitterTitle,
  twitterDescription = siteConfig.site.twitterDescription,
  twitterImage = '/og-image.png',
  lang = 'en',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />

<meta property="og:title" content={ogTitle} />
<meta property="og:description" content={ogDescription} />
<meta property="og:type" content="website" />
<meta property="og:image" content={ogImage} />
<meta property="og:image:width" content={ogImageWidth} />
<meta property="og:image:height" content={ogImageHeight} />

<meta name="twitter:card" content={twitterCard} />
<meta name="twitter:title" content={twitterTitle} />
<meta name="twitter:description" content={twitterDescription} />
<meta name="twitter:image" content={twitterImage} />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
  rel="stylesheet"
/>
